# Jupyter Notebook
.ipynb_checkpoints

# Environments
venv/

# IDE folders
.vscode/

# Tests files and folders
tests.py
t.ipynb
Autoencoder_old.ipynb

# Byte-compiled files
__pycache__/
losses/__pycache__/
models/__pycache__/

# log files
losses/SSIM_randn.log
losses/SSIM_real.log
losses/SSIM.log


# Other files
results/
